<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<style type="text/css">
		body{
			font-family:Helvetica, Arial, sans-serif;
			background-color:#ffffff;
			margin: 8px 8px 8px 20px;
		}
		a{
			color:#ff0000;
			text-decoration:none;
		}
		img{
			border:0;
			display:block;
		}
		p.intro {
			font-weight: bold;
		}
		#wrapper {
			width: 650px;
		}
		p {
			padding-bottom: 4px;
		}
	</style>
  </head>
  <body>
	<div id="wrapper">
	<img src="<%=logo_url(@badge)%>" width="284" height="47" alt="TEDxMidAtlantic" style="border: 0;display: block;">
	
	<p>Dear <%=@badge.firstname%>,</p>
	
    <p class="intro">
		TEDx events inspire us all with great ideas, but now what?
    </p>
	
	<p>Right about now you may be feeling a little bit down. You're probably stuck home in this gray weather, feeling a bit of a post-TEDx crash (yes, it's normal; elevated levels of dopamine and serotonin cause crash-like symptoms when they return to normal.)</p>
	
	<p>We wanted to offer at least one possible remedy: a simple way to keep in touch with other attendees. Please join the <a href="http://tedxmidatlantic.com/fbgroup">TEDxMidAtlantic Community</a> group on Facebook, and say hello! Introduce yourself, share one of your favorite moments, and tell us what you're doing to make your community better!</p>
	
	<p>We realize that Facebook isn't for everyone, and as Jules Polonetsky reminded us, it has its issues. But after the TEDx Global Summit in Doha in April, we have found a Facebook group to be an <strong>extremely</strong> effective tool for keeping in touch, with active conversations and sharing happening every day &mdash; from all around the world.</p>
	
	<p>Beyond just keeping in touch, we want to be a platform for action in our community. In just two weeks, Nate and I will be in Boston for TEDxBeaconStreet, organized by John Werner. John is a pioneer in developing "TEDxAdventures" and other actions that the TEDx community can take to better their community. We'll be learning from what they're doing in the Boston area and bringing some of that knowledge back here too. We'll need your help.</p>
	
	<p>Certainly converting ideas into sustainable action is no small task, but we're up to the challenge. The first step, though, is for us all to get to know each other better. Please drop in to the <a href="http://tedxmidatlantic.com/fbgroup">TEDxMidAtlantic Community</a> group and say hello. It's the first step on a long road of change.</p>

	<p>Sincerely,</p>
	<p><strong>David Troy</strong><br/>
		and the entire TEDxMidAtlantic Team<br/>
	</p>
	<hr/>
	<p><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZLellQcU5DeU1EeFJlTzJvbWZxckE6MA">Please take the TEDxMidAtlantic 2012 Attendee Survey</a>
<p>
Love your Dopper water bottle? Take a second to "Like" <a href="https://www.facebook.com/DopperUS">DopperUS</a> on Facebook!
	
  </body>
</html>
