<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<style type="text/css">
		body{
			font-family:Helvetica, Arial, sans-serif;
			background-color:#ffffff;
			margin: 20px;
		}
		a{
			color:#ff0000;
			text-decoration:none;
		}
		img{
			border:0;
			display:block;
		}
		p.intro {
			font-weight: bold;
		}
		#wrapper {
			width: 650px;
		}
		p {
			padding-bottom: 4px;
		}
	</style>
  </head>
  <body>
	<div id="wrapper">
	<img src="<%=logo_url(@badge)%>" width="284" height="47" alt="TEDxMidAtlantic" style="border: 0;display: block;">
	
	<p>Dear <%=@badge.firstname%>,</p>
	
    <p class="intro">
		TEDxMidAtlantic 2012 is a wrap. Over 40 speakers, 1,000 attendees, 100 volunteers, and 20+ fearless event partners created an extraordinary two days of memories, connections, and ideas.
    </p>
	
	<p>We hope you enjoyed it! We have a few pieces of housekeeping for you.</p>
	
	<p><strong><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZLellQcU5DeU1EeFJlTzJvbWZxckE6MA">Please take this short survey</a> about TEDxMidAtlantic 2012: Be Fearless.</strong> We would love to know more about what you thought about each of our speakers and presenters so we can make improvements for next year.</p>
	
	<p><strong>We had some program changes.</strong> Unfortunately, four presenters we had planned to feature had last-minute scheduling or medical emergencies that precluded their participation. We'll be inviting Neil Strauss, Kyra Maya Phillips, Noor Siddiqui, and Melody Barnes back for our next event. With over 40 speakers scheduled, we expected a few unavoidable changes.</p>
	
	<p><strong>Thank you to our core organizing team.</strong> While TEDxMidAtlantic is a broad community effort, a handful of people did an incredible amount of work &mdash; tirelessly and for the love of the cause. Special thanks to Kate Ahern, Allyson Burns, Jean Case, Steve Case, Nate Mook, Matt Koll, Laryssa Kundanmal, Amy Genevieve Kozak, James Pan, Sarge Salman, Anna Slomovic, Michael Smith, Elizabeth Terrell, Jennifer Troy, Sheryl Winarick, and Emily Yu.</p>
		
	<p><strong>Please join me in thanking James Pan for our beautiful badges, program, title slides, and session introduction videos.</strong> James contributed his design skills to create a unified set of print and digital materials for TEDxMidAtlantic 2012 that truly elevated the quality of the event. He also contributed to curation of both music and speakers. Thank you, James!</p>
	
	<p><strong>Videos will be available soon.</strong> Our friends at <a href="http://www.blueskyfilms.com">Blue Sky Films</a> will start work on editing footage from the event right away and we should start posting videos online in the next few weeks. We do ask for your patience as we have over 40 talks to edit and it's a lot of work. We'll let you know when they're ready to view and share!</p>
	
	<p><strong>Follow us at <a href="http://twitter.com/tedxmidatlantic">@tedxmidatlantic</a> and on <a href="http://facebook.com/tedxmidatlantic">facebook.com/TEDxMidAtlantic</a>.</strong> Stay up to date with video releases, news, and updates. Planning for 2013 begins soon!</p>
	
	<p><strong>Join our volunteer team!</strong> If you'd like to get involved as a TEDxMidAtlantic volunteer, please join us by signing up at <a href="http://tedxmidatlantic.com/volunteer">tedxmidatlantic.com/volunteer</a>. Planning for 2013 begins in January!</p>
	
	<p><strong>Thanks again to our event partners &mdash; especially <a href="http://casefoundation.org">The Case Foundation</a>.</strong> Jean and Steve Case and their entire team worked tirelessly with us to create a powerful, meaningful event &mdash; and a lasting document of some truly great minds and ideas. We truly appreciate their support. <a href="http://www.casefoundation.org/projects/be-fearless">Take the <em>Be Fearless</em> Pledge</a> and find out more about the Case Foundation's audacious ideas for bringing new thinking to the world of philanthropy.</p>
	
		<p>Thanks also to Blue Sky Films, LivingSocial, VitaminWater, Dopper, RedBull, Honest Tea, PBS, Threespot, Flying Dog Brewery, Localist, 410 Labs, Tixato, Early Mountain Vineyards, Chef José Andres, Think Food Group, and New Belgium Brewing. And of course our beautiful venue, the Sidney Harman Theater.</p>

    <p>I think we're all feeling fearless right now &mdash; but stay safe during hurricane Sandy. Remember, in the spirit of <a href="http://en.wikipedia.org/wiki/Ubuntu_(philosophy)">Ubuntu</a>: we all need each other.</p>

	<p>Sincerely,</p>
	<p><strong>David Troy, with Nate Mook, James Pan</strong><br/>
		and the entire TEDxMidAtlantic Team<br/>
	</p>
	<hr/>
	<p><a href="https://docs.google.com/spreadsheet/viewform?formkey=dHZLellQcU5DeU1EeFJlTzJvbWZxckE6MA">Please take the TEDxMidAtlantic 2012 Attendee Survey</a>
<p>
Love your Dopper water bottle? Take a second to "Like" <a href="https://www.facebook.com/DopperUS">DopperUS</a> on Facebook!
	
  </body>
</html>
